
<%- include('_layouts/header') -%>

<main>
<section class="Header">   		
	<article class="re">
	<div class="re111">
			<br>
			<a href="/order"><img src="images/fru.jpg" alt=" Table details"></a>
			<a href="/order"><figcaption class="fgaside111">fruits</figcaption></a>
			<br>				
			<a href="/order"><img src="images/veg.jpg" alt="log in "></a>
			<a href="/order"><figcaption class="fgaside111">vegetables</figcaption></a>
			<br>
			<a href="/contactUs"><img src="images/contact-us.jpg" alt="FeedBack"></a>
			<a href="/contactUs"><figcaption class="fgaside111">contact us</figcaption></a>

	</div>
	</article>
	</section> 
	<aside>
	<article class="aside1">
			<br>
			<a href=""><img src="./images/location.jpg" alt=" Table details"></a>
			<a href=""><figcaption class="fgaside1">Get direction</figcaption></a>
			<br>				
			<a href=""><img src="./images/new1.jpg" alt="log in "></a>
			<figcaption class="fgaside1">New Arrived</figcaption>
			<br>
			<a href=""><img src="./images/sale.jpg" alt="FeedBack"></a>
			<a href=""><figcaption class="fgaside1">Discount Item</figcaption></a>
		</article>
	</aside>
	<aside>
	<article class="aside5">
	<h4>Welcome To Your Grocery Store!</h4>
	<h2>We are here for you </h2>
	<h1>Our Story</h1>

	
	<p>
		MyBasket was started in 2020 by three members Samir & Oula .
		  they were basically living in Canada and are students in Conestoga .
		  The purpose of MyBasket is to create during this pandemic a world that 
		  customers get their groceries delivered reliably,
		   to lift up our retail partners, and to provide flexible earnings opportunities for shoppers. 
	


	</p>
</article>
	</aside>
</main>
	<%- include('_layouts/footer') -%>

