
<%- include('_layouts/header') -%>

<main>
<section class="Header">   		
	<article class="re">
	<div class="re11">
			<br>
			<a href="/order"><img src="images/fru.jpg" alt=" Table details"></a>
			<a href="/order"><figcaption class="fgaside1">fruits</figcaption></a>
			<br>				
			<a href="/order"><img src="images/veg.jpg" alt="log in "></a>
			<a href="/order"><figcaption class="fgaside1">vegetables</figcaption></a>
			<br>
			<a href="/contactUs"><img src="images/contact-us.jpg" alt="FeedBack"></a>
			<a href="/contactUs"><figcaption class="fgaside1">contact us</figcaption></a>

	</div>
	</article>
	</section> 
	<aside>
	<article class="aside1">
			<br>
			<a href=""><img src="./images/location.jpg" alt=" Table details"></a>
			<a href=""><figcaption class="fgaside1">Get direction</figcaption></a>
			<br>				
			<a href=""><img src="./images/new1.jpg" alt="log in "></a>
			<figcaption class="fgaside1">New Arrived</figcaption>
			<br>
			<a href=""><img src="./images/sale.jpg" alt="FeedBack"></a>
			<a href=""><figcaption class="fgaside1">Discount Item</figcaption></a>
		</article>
	</aside>
	<aside>
	<article class="aside2">
	<h3>.</h3>
	<p>
		Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website
		Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website
		Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website
		Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website
		Group 13 website Group 13 website Group 13 website.
		Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website
		Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website Group 13 website
	</p>
</article>
	</aside>
</main>
	<%- include('_layouts/footer') -%>

