<%- include('_layouts/header') -%>
<main>
    <section>    
        <p></p>     
        <h1>Sign in to your Supermarket Account</h1>
        <p></p>
        <form method = "post" action="/login">
        <p> <div class="form-field">
                <label for="username">Email address:</label>
                <input type="text" class="form-input"
                name="username" id='username'></p>
            </div>
        <p> <div class="form-field">
                <label for="password">password:</label>
                <input type="password" class="form-input"
                name="password" id="password"></p>
            </div>
        <p> <div class="form-field">
                <input type="submit" class="form-submit"
                value="login">
        </p>
            </div>
            <p style="display: <%= attemptFailed ? 'block' : 'none'%>">
                <span style="color: red;">Invalid Email/Password! Please try again.</span>
                <br/>
            </p>
        </form>            
    </section>
</main>
<% if(typeof errors !== 'undefined'){
    for(var error of errors){
        %>
        <h3><%= error.msg %></h3>
        <%
    }
}
%>
<%- include('_layouts/footer') -%>