<%- include('_layouts/header') -%>
<main>
    <section>
        <p></p>
        <h1> <p>Hope see you soon.. <%=name %> </p></h1>
        <p></p>
        <p> Have a Good Day </p>
        <br/><br/>
    </section>
</main>
<%- include('_layouts/footer') -%>