<h2>Hi <%= user.name %> !</h2>

<img class="cart" src="images/cart1.jpg">
<span class='badge badge-warning' id='lblCartCount' value="">5

</span>

<%- include('_layouts/header')  -%>

<main>

    <section>
        <p></p>
        <h2>Place Your Order </h2>
        <p></p>

        <form method="post" action="/order">
            <p>
            <div class="form-field">
                <label for="product1">Product 1:</label>
                <input type="text" class="form-input" name="product1" id='product1'></p>
            </div>
            <p>
            <div class="form-field">
                <label for="product2">Product 2:</label>
                <input type="text" class="form-input" name="product2"></p>
            </div>
            <p>
            <div class="form-field">
                <label for="product3">Product 3:</label>
                <input type="text" class="form-input" name="product3">
                </p>
            </div>
            <p>
           <div class="form-field">
                <label>Will you need Delivery?</label>
                <input type="radio" value="yes" id="radio1" name="delivery">Yes
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="no" id="radio2" name="delivery">No</br>
            </div>

            <p>
            <div class="form-field">
                <label for="delivery">Delivery Time:</label>
                <select name="delivery" id="delivery">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br />
                <!--  <class name="delivery">-->
                </p>
            </div>
            <p>
            <div class="form-field">
                <input type="submit" class="form-submit" value="submit">
                </p>
            </div>
        </form>
    </section>
</main>
<% if(typeof errors !== 'undefined'){
    for(var error of errors){
        %>
<h3><%= error.msg %></h3>
<%
    }
}
%>

<%- include('_layouts/footer') -%>