<h2>Hi <%= user.name %> </h2>
<%- include('_layouts/header')  -%>

<h1>Welcome to the Store!</h1>
<h2>Plaese choose from the groceies list to add to the cart</h2>
<h2>The price is per each</h2>
<main>
    <section class="Header">   		
        <article class="re">
        <div class="re11">
                <br>
                <div class="card">
                    <img src="images/carrots.jpg" alt="carrots">
                      <p class="price">$2.99 for each 40¢</p>
                    
                </div>
                <p></p>
                <div class="input2">
                  <div class="row">
                     <div class="col-sm-4"></div>
                     <div class="col-sm-4 col-sm-offset-4">
                     </div>
                     <div class="col-sm-4"></div>
                 </div>
                <a href="/order"><figcaption class="fgaside1">carrots</figcaption></a>
           
                				
                <div class="card">
                    <img src="images/lemon.jpg" alt="lemon">
                    <p class="price">$3.99 for each 50¢</p>
                </div>
              
                <div class="input2">
                  <div class="row">
                     <div class="col-sm-4"></div>
                     <div class="col-sm-4 col-sm-offset-4">
                     </div>
                     <a href="/order"><figcaption class="fgaside1">lemon</figcaption></a>
                     <div class="col-sm-4"></div>
                 </div>
                <div class="card">
                    <img src="images/apple.jpg" alt="apple">
                    <p class="price">$4.99 for each 60¢</p>
                </div>
                
                <div class="input2">
                  <div class="row">
                     <div class="col-sm-4"></div>
                     <div class="col-sm-4 col-sm-offset-4">

                     </div>
                     <a href="/order"><figcaption class="fgaside1">apple </figcaption></a>
                     <div class="col-sm-4"></div>
                 </div>
                <div class="card">
                    <img src="images/whitepotato.jpg" alt="whitepotato">
                    <p class="price">$5.99 for each 70¢</p>
                </div>
               
                <div class="input2">
                  <div class="row">
                     <div class="col-sm-4"></div>
                     <div class="col-sm-4 col-sm-offset-4">
                      
                     </div>
                     <a href="/order"><figcaption class="fgaside1">whitepotato </figcaption></a>
                     <div class="col-sm-4"></div>
                 </div>
                <div class="card">
                    <img src="images/melon.jpg" alt="melon">
                    <p class="price">$6.99 for each 80¢</p>
                </div>
                
                <div class="input2">
                  <div class="row">
                     <div class="col-sm-4"></div>
                     <div class="col-sm-4 col-sm-offset-4">
                    
                     </div>
                     <a href="/order"><figcaption class="fgaside1">melon </figcaption></a>
                     <div class="col-sm-4"></div>
                 </div>
        </div>
        
        </article>
        </section> 
        <aside>
        <article class="aside1">
                <br>
            <div class="card2">
                <img src="images/redpepper.jpg" alt="redpepper">
                <p class="price2">$4.99 for each 60¢</p>
            </div>
            
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
                   
                     <a href="/order"><figcaption class="fgaside1">redpepper</figcaption></a>

            <div class="card2">
                <img src="images/yellowpepper.jpg" alt="yellowpepper">
                <p class="price2">$5.99 for each 70¢</p>
            </div>
      
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
   
                     <a href="/order"><figcaption class="fgaside1">yellowpepper</figcaption></a>

            <div class="card2">
                <img src="images/kiwi.jpg" alt="kiwi">
                <p class="price2">$3.99 for each 50¢</p>
            </div>
          
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
   
                     <a href="/order"><figcaption class="fgaside1">kiwi </figcaption></a>

            <div class="card2">
                <img src="images/faltcabage.jpg" alt="faltcabage">
                <p class="price2">$3.99 for each 50¢</p>
            </div>
           
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
              
                     <a href="/order"><figcaption class="fgaside1">flatcabage </figcaption></a>

            <div class="card2">
                <img src="images/orange.jpg" alt="orange">
                <p class="price2">$4.99 for each 60¢</p>
            </div>
          
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
           
                     <a href="/order"><figcaption class="fgaside1">orange </figcaption></a>

        </br>
        </article>
        </aside>
        <article class="aside4">
        
        
            <br>
              
            <div class="card1">
                <img src="images/banana.jpg" alt="banana">
                <p class="price1">$5.99 for each 70¢</p>
            </div>
          
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
  
                     <a href="/order"><figcaption class="fgaside1">banana</figcaption></a>
                            
            <div class="card1">
                <img src="images/eggplant.jpg" alt="eggplant">
                <p class="price1">$7.99 for each 90¢</p>
            </div>
         
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
    
                     <a href="/order"><figcaption class="fgaside1">eggplant</figcaption></a>

            <div class="card1">
                <img src="images/mango.jpg" alt="mango">
                <p class="price1">$3.99 for each 40¢</p>
            </div>
     
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
                  
                     <a href="/order"><figcaption class="fgaside1">mango </figcaption></a>

            <div class="card1">
                <img src="images/whitecarrot.jpg" alt="whitecarrot">
                <p class="price1">$6.99 for each 50¢</p>
            </div>
            
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
                   
                     <a href="/order"><figcaption class="fgaside1">whitecarrot </figcaption></a>

            <div class="card1">
                <img src="images/pomegranate.jpg" alt="pomegranate">
                <p class="price1">$.99 for each 99¢</p>
            </div>
        
            <div class="input1">
              <div class="row">
                 <div class="col-sm-4"></div>
                 <div class="col-sm-4 col-sm-offset-4">
   
                     <a href="/order"><figcaption class="fgaside1">pomegranate </figcaption></a>
        </br>
        </article>
        </aside>
        <p>
            
         </form>
     </section>
    </main>
    <% if(typeof errors !== 'undefined'){
        for(var error of errors){
            %>
    <h3><%= error.msg %></h3>
    <%
        }
    }
    %>
    
    <%- include('_layouts/footer') -%>
    
    