<h2>Hi <%= user.name %> </h2>

<img class="cart" src="images/cart1.jpg">
<span class='badge badge-warning' id='lblCartCount' value="">5

</span>

<%- include('_layouts/header')  -%>

<h1>Welcome to the Store!</h1>